.register-container {
  min-height: 100vh;
  background: #f5f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}


.register-card {
  width: 450px;
  background: white;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}


.register-card h1 {
  text-align: center;
  color: #0b2345;
  margin-bottom: 30px;
  font-size: 28px;
}


.register-card form {
  display: flex;
  flex-direction: column;
}


.register-card label {
  margin-top: 15px;
  margin-bottom: 6px;
  font-weight: 600;
  color: #0b2345;
}


.register-card input,
.register-card select {

  width: 100%;
  padding: 12px;

  border: 1px solid #ccc;
  border-radius: 8px;

  font-size: 15px;

  outline: none;

}


.register-card input:focus,
.register-card select:focus {

  border-color: #ff7a00;

  box-shadow: 0 0 5px rgba(255,122,0,0.4);

}



.register-card input[readonly] {

  background: #eeeeee;
  cursor: not-allowed;

}



.register-card button {

  margin-top: 30px;

  padding: 13px;

  background: #ff7a00;

  color: white;

  border: none;

  border-radius: 8px;

  font-size: 17px;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;

}



.register-card button:hover {

  background: #0b2345;

  transform: translateY(-2px);

}



@media(max-width:500px){

  .register-card{

    width:100%;

    padding:25px;

  }

}