.signup-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f8fc;
  padding: 40px 20px;
}


.signup-card {
  width: 400px;
  background: white;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}


.signup-card h1 {
  text-align: center;
  color: #ff7a00;
  font-size: 32px;
  margin-bottom: 5px;
}


.signup-card h2 {
  text-align: center;
  color: #1e3a8a;
  margin-bottom: 25px;
  font-size: 24px;
}



.signup-card form {
  display: flex;
  flex-direction: column;
}


.signup-card label {
  font-size: 15px;
  font-weight: 600;
  color: #333;
  margin-bottom: 6px;
}



.signup-card input {
  padding: 12px 14px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}



.signup-card input:focus {
  border-color: #ff7a00;
  box-shadow: 0 0 5px rgba(255, 122, 0, 0.3);
}



.signup-card button {
  margin-top: 10px;
  padding: 13px;
  border: none;
  border-radius: 8px;
  background: #ff7a00;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}



.signup-card button:hover {
  background: #e56700;
}



.signup-card p {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}



.signup-card a {
  color: #1e3a8a;
  text-decoration: none;
  font-weight: bold;
}



.signup-card a:hover {
  text-decoration: underline;
}